.contact {
  width: 100%;
  padding-bottom: 60px;
}

@media screen and (max-width: 740px) {
  .contact {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 450px) {
  .contact {
    padding-bottom: 50px;
  }
}

.contact__heading {
  margin-top: 30px;
  margin-bottom: 40px;
}

@media screen and (max-width: 600px) {
  .contact__heading {
    margin-top: 5px;
    margin-bottom: 18px;
  }
}

@media screen and (max-width: 450px) {
  .contact__heading {
    margin-top: 3px;
    margin-bottom: 18px;
  }
}

.contact h1 {
  margin: 0;

  font-family: "Gerbera", "Arial", sans-serif;
  font-weight: bold;
  font-size: 38px;
  line-height: 44px;
}

@media screen and (max-width: 1023px) {
  .contact h1 {
    font-size: 36px;
    line-height: 40px;
  }
}

@media screen and (max-width: 450px) {
  .contact h1 {
    font-size: 26px;
    line-height: 30px;
  }
}

.contact__wrap {
  position: relative;
  display: flex;
  width: 100%;
}

@media screen and (max-width: 1130px) {
  .contact__wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 960px) {
  .contact__wrap::before {
    content: "";

    position: absolute;
    top: 220px;
    left: 0;
    width: 100%;
    height: 5px;

    background-position: 100%;

    background-image: url("../img/svg/contacts-lines-mobile.svg");
  }
}

@media screen and (max-width: 740px) {
  .contact__wrap::before {
    top: 420px;
  }
}

@media screen and (max-width: 450px) {
  .contact__wrap::before {
    top: 215px;
  }
}

@media screen and (max-width: 350px) {
  .contact__wrap::before {
    top: 235px;
  }
}

.contact__wrap-left {
  position: relative;
  width: 52.6%;
}

@media screen and (max-width: 1130px) {
  .contact__wrap-left {
    display: flex;
    width: 100%;
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 740px) {
  .contact__wrap-left {
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .contact__wrap-left {
    padding-bottom: 65px;
  }
}

.contact__wrap-left .contact-item {
  padding-right: 15%;
}

@media screen and (max-width: 1130px) {
  .contact__wrap-left .contact-item {
    padding-right: 4%;
  }
}

@media screen and (max-width: 450px) {
  .contact__wrap-left .contact-item {
    padding-right: 2%;
  }
}

@media screen and (max-width: 1130px) {
  .contact__wrap-left .contact-item:nth-child(1) {
    width: 52.5%;
  }
}

@media screen and (max-width: 450px) {
  .contact__wrap-left .contact-item:nth-child(1) {
    width: 100%;
  }
}

.contact__wrap-left::after {
  content: "";

  position: absolute;
  top: 0;
  right: 9.5%;

  width: 5px;
  height: 426px;

  background-image: url("../img/svg/contacts-lines-desktop.svg");
  background-repeat: no-repeat;
}

@media screen and (max-width: 1130px) {
  .contact__wrap-left::after {
    content: "";

    top: 220px;
    left: 0;
    width: 280px;
    height: 5px;

    background-image: url("../img/svg/contacts-lines-mobile.svg");
  }
}

@media screen and (max-width: 960px) {
  .contact__wrap-left::after {
    background-image: none;
  }
}

.contact-item {
  position: relative;
  min-height: 203px;
}

@media screen and (max-width: 1130px) {
  .contact-item {
    max-width: 400px;
  }
}

@media screen and (max-width: 840px) {
  .contact-item {
    max-width: 350px;
  }
}

@media screen and (max-width: 450px) {
  .contact-item {
    min-height: auto;
  }
}

.contact-item__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;

  border-radius: 50%;
  background-color: #eeeeee;
}

@media screen and (max-width: 450px) {
  .contact-item__img {
    position: absolute;
  }
}

.contact-item__heading {
  padding-top: 20px;
  padding-bottom: 10px;
}

@media screen and (max-width: 450px) {
  .contact-item__heading {
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 62px;
  }
}

.contact-item__heading h2 {
  margin: 0;

  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}

@media screen and (max-width: 450px) {
  .contact-item .contact-item__heading h2 {
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (max-width: 450px) {
  .contact-item__description {
    padding-bottom: 18px;
    padding-left: 62px;
  }
}

.contact-item__description p {
  margin: 0;

  font-size: 18px;
  line-height: 27px;
}

@media screen and (max-width: 450px) {
  .contact-item__description p {
    font-size: 16px;
    line-height: 22px;
  }
}

.contact-item__description span {
  color: #ed9121;
}

.contact-item__description a {
  text-decoration: underline;
  font-size: 16px;
}

.contact__wrap-right {
  width: 100%;
}

.contact__wrap-top {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 740px) {
  .contact__wrap-top {
    flex-direction: column;
  }
}

.contact__wrap-top .contact-item {
  padding-right: 5%;
}

@media screen and (max-width: 450px) {
  .contact__wrap-top .contact-item {
    padding-right: 0;
  }
}

.contact__wrap-top .contact-item:nth-child(1) {
  width: 52.5%;
}

@media screen and (max-width: 450px) {
  .contact__wrap-top .contact-item:nth-child(1) {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .contact__wrap-top .contact-item__item span {
    font-size: 16px;
    line-height: 22px;
  }
}

.contact-item__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@media screen and (max-width: 450px) {
  .contact-item__list {
    padding-left: 62px;
  }
}

.contact-item__item {
  display: flex;
  flex-direction: column;
}

.contact-item__item a {
  align-self: flex-start;

  margin-bottom: 3px;

  font-size: 18px;
  line-height: 27px;

  transition: border-bottom 0.3s;
  border-bottom: 1px solid rgba(40, 40, 40, 0.5);
}

@media screen and (max-width: 450px) {
  .contact-item__item a {
    font-size: 16px;
    line-height: 22px;
  }
}

.contact-item__item a:hover,
.contact-item__item a:active {
  border-bottom: 1px solid #282828;
}

.contact-item__item span {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 21px;
}

.contact__wrap-bottom {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 740px) {
  .contact__wrap-bottom {
    flex-direction: column;
  }
}

@media screen and (max-width: 750px) {
  .contact__wrap-bottom {
    padding-top: 10px;
  }
}

.contact__wrap-bottom .contact-item:nth-child(1) {
  width: 52.5%;
  padding-right: 5%;
}

@media screen and (max-width: 580px) {
  .contact__wrap-bottom .contact-item:nth-child(1) {
    width: 100%;
    padding-right: 0;
  }
}

@media screen and (max-width: 450px) {
  .contact__wrap-bottom .contact-item__item span {
    margin-bottom: 3px;
    font-size: 12px;
    line-height: 17px;
  }
}

.contact-item__social-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (max-width: 740px) {
  .contact-item__social-block {
    padding-top: 30px;
  }
}

@media screen and (max-width: 450px) {
  .contact-item__social-block {
    padding-top: 27px;
  }
}

.contact-item__social-heading {
  order: 2;
}

@media screen and (max-width: 740px) {
  .contact-item__social-heading {
    display: none;
  }
}

.contact-item__social-heading h2 {
  margin: 0;
  margin-top: 20px;

  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}

.contact-item__social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: -15px;
  margin-right: -15px;

  list-style: none;
}

@media screen and (max-width: 450px) {
  .contact-item__social-list {
    margin-bottom: -5px;
    margin-right: -5px;
  }
}

.contact-item__social-item {
  display: flex;
  margin-bottom: 15px;
  margin-right: 15px;
}

@media screen and (max-width: 450px) {
  .contact-item__social-item {
    margin-bottom: 5px;
    margin-right: 5px;
  }
}

.contact-item__social-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;

  transition: background-color 0.3s;
  border-radius: 50%;
  background-color: #eeeeee;
  cursor: pointer;
}

.contact-item__social-item a:hover use {
  transition: fill 0.3s;
  fill: #ffffff;
}

.contact-item__social-item--facebook a:hover {
  background-color: #3b5998;
}

.contact-item__social-item--vk a:hover {
  background-color: #4a76a8;
}

.contact-item__social-item--inst a:hover {
  background-color: #282828;
}

.contact-item__social-item--ok a:hover {
  background-color: #e47d08;
}

.contact-item__social-item--youtube a:hover {
  background-color: #ff0000;
}

.contact-reception__instruction a {
  text-decoration: underline;
  font-weight: 600;
}
