.list-photos {
  margin-right: -3%;
}

@media  screen and (max-width: 450px) {
  .list-photos {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.list-photos__heading {
  padding-top: 20px;
  padding-bottom: 40px;
}

@media  screen and (max-width: 450px) {
  .list-photos__heading {
    padding-top: 8px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

.list-photos__heading h1 {
  margin: 0;
  font-family: "Gerbera", "Arial" ,sans-serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 66px;
}

@media  screen and (max-width: 1023px) {
  .list-photos__heading h1 {
    font-size: 45px;
    line-height: 47px;
  }
}

@media  screen and (max-width: 767px) {
  .list-photos__heading h1 {
    font-size: 30px;
    line-height: 38px;
  }
}

.list-photos__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-right: -3%;

  list-style: none;
}

@media  screen and (max-width: 450px) {
  .list-photos__list {
    margin-right: 0;
  }
}

.list-photos__item {
  width: 100%;
  margin-bottom: 40px;
  margin-right: 3%;

  line-height: 0;
}

@media  screen and (max-width: 450px) {
  .list-photos__item {
    margin-right: 0;
  }
}

.list-photos__item img {
  width: 100%;
  border-radius: 10px;
}

@media  screen and (max-width: 450px) {
  .list-photos__item img {
    border-radius: 0;
  }
}

@media  screen and (max-width: 1023px) {
  .list-photos__item {
    margin-bottom: 20px;
  }
}

@media  screen and (max-width: 450px) {
  .list-photos__item {
    margin-bottom: 10px;
  }
}

.list-photos__item--half {
  width: 47%;
}

@media  screen and (max-width: 450px) {
  .list-photos__item--half {
    width: 100%;
  }
}

.list-photos__block {
  margin-right: 3%;
}

.list-photos__heading-group {
  display: flex;
  margin-top: 31px;
  margin-right: 3%;
}

@media  screen and (max-width: 623px) {
  .list-photos__heading-group {
    display: none;
  }
}

.list-photos__heading-group-left {
  max-width: 620px;
  flex-grow: 1;
  flex-shrink: 1;
}

.list-photos__heading-group-left h3 {
  font-family: "Gerbera", "Arial" ,sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 42px;
}

.list-photos__heading-group-left h3 a {

  transition: opacity 0.3s;
}

.list-photos__heading-group-left h3 a:hover,
.list-photos__heading-group-left h3 a:active {
  opacity: 0.7;
}


.list-photos__heading-group-right {
  max-width: 620px;
  flex-grow: 1;
  flex-shrink: 1;
}

.list-photos__heading-group-right h3 {
  padding-left: 20px;

  font-family: "Gerbera", "Arial" ,sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 42px;
}

@media  screen and (max-width: 850px) {
  .list-photos__heading-group-left h3,
  .list-photos__heading-group-right h3 {
    font-size: 33px;
    line-height: 45px;
  }
}

.list-photos__heading-group-right h3 a {

  transition: opacity 0.3s;
}

.list-photos__heading-group-right h3 a:hover,
.list-photos__heading-group-right h3 a:active {
  opacity: 0.7;
}

@media  screen and (max-width: 623px) {
  .list-photos__slider-container {
    display: none;
  }
}

@media  screen and (max-width: 623px) {
  .list-photos__btn-wrapper {
    display: none;
  }
}


.list-photos__slider-container {
  max-width: 1240px;
  margin-right: 3%;
}

.list-photos__button-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 3px;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;

  @media  screen and (max-width: 800px) {
    padding-top: 20px;
  }

  @media  screen and (max-width: 700px) {
    display: none;
  }
}

@media  screen and (max-width: 450px) {
  .list-photos__button-wrapper {
    padding-top: 32px;
    padding-left: 22px;
  }
}

@media  screen and (max-width: 320px) {
  .list-photos__button-wrapper {
    padding-top: 34px;
    padding-left: 2px;
  }
}

.list-photos__btn-wrapper {
  margin-right: 3%;
  order: 2;
}

.list-photos__btn {
  margin: 0;
  padding: 0;
  margin-left: 15px;
  padding-top: 8px;
  padding-bottom: 11px;
  padding-left: 17px;
  padding-right: 17px;

  font-family: "Gerbera", "Arial" ,sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;

  transition: box-shadow .3s;
  background-color: transparent;
  border: 3px solid #282828;
  cursor: pointer;
  border-radius: 10px;
  box-shadow:
  0 0 0 3px #FFFFFF,
  0 0 0 4px rgba(40, 40, 40, 0.5);
  outline: none;
}

.list-photos__btn:hover,
.list-photos__btn:active {
  box-shadow:
  0 0 0 3px #FFFFFF,
  0 0 0 4px #282828;
}

.list-photos__btn--prev {
  transform: rotate(-180deg);
}

.list-photos__btn.swiper-button-disabled {
  opacity: .3;
  cursor: default;
}

.list-photos__btn:hover.swiper-button-disabled,
.list-photos__btn:active.swiper-button-disabled {
  box-shadow:
  0 0 0 3px #FFFFFF,
  0 0 0 4px rgba(40, 40, 40, 0.5);
}

.list-photos__button {
  display: flex;
  max-height: 60px;
  order: 1;
}

@media  screen and (max-width: 320px) {
  .list-photos__button {
    margin-left: 20px;
  }
}

@media  screen and (max-width: 820px) {
  .list-photos__button {
    padding: 7px;
  }
}

.list-photos__button a {
  padding-top: 12px;
  padding-bottom: 8px;
  padding-left: 18px;
  padding-right: 18px;

  font-family: "Gerbera", "Arial" ,sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;

  transition: box-shadow .3s;
  background-color: transparent;
  border: 3px solid #282828;
  cursor: pointer;
  border-radius: 10px;
  box-shadow:
  0 0 0 3px #FFFFFF,
  0 0 0 4px rgba(40, 40, 40, 0.5);
}

@media  screen and (max-width: 650px) {
  .list-photos__button a {
    font-size: 16px;
    line-height: 20px;
  }
}

@media  screen and (max-width: 450px) {
  .list-photos__button a {
    padding-top: 12px;
  }
}

.list-photos__button a:hover,
.list-photos__button a:active {
  box-shadow:
  0 0 0 3px #FFFFFF,
  0 0 0 4px #282828;
}
