<div class="author-wrapper">
  <section class="main-page__upcoming-events upcoming-events upcoming-events--consulting">
    <div class="upcoming-events__wrapper upcoming-events__wrapper--consulting">
      <h2 class="upcoming-events__title consulting-title">Помощь в исследовании родословной</h2>
    </div>
    <div class="question-form__wrapper about-project about-project--consulting">
      <div class="question-form__inner">
        <img class="author-photo" src="img/content/our-park-img-2@1x.jpg"
          srcset="img/content/our-park-img-2@1x.jpg 1x, img/content/our-park-img-2@2x.jpg 2x" width="350"
          height="300" alt="Александр Шатохин фото">
        <h3 class="author-name author-name--consulting">
          Александр Шатохин, автор проекта "Дом предков"
        </h3>
      </div>


      <div class="question-form__inner">
        <div class="question-content">
          <p>С 2008 года я занимаюсь генеалогией и поиском родословных на заказ. И за это время я не только
            исследовал <a href="https://i.ibb.co/KqjV3md/image.png" target="blank">свою генеалогию</a> до VII
            века, но и научился быстро и эффективно искать информацию. А еще я собрал много "граблей", которые
            поджидают начинающих исследователей.</p>
          <p class="question-content__text">
            За 13 лет работы в генеалогии я решил большинство проблем и сложностей, которые могут встретиться
            при "раскопках" семейной истории. Поэтому я смогу подсказать вам, как эффективнее искать информацию
            о ваших предках и избежать ошибок.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
