<div class="main-page__section-inner consulting-steps">
  <h2 class="upcoming-events__title">Как найти своих предков</h2>
  <ul class="consulting-list">
    <li class="consulting-list__item consulting-list__item--call">
      <div class="consulting-subtitle">
        <span>Закажите услугу</span>
      </div>

      <p>Если вы только начинаете поиски, или ваши исследования зашли в тупик, то вы можете заказать <a
          href="consulting.html">консультацию</a> или посмотреть <a href="services.html">другие услуги</a>.</p>
    </li>
    <li class="consulting-list__item consulting-title--middle">
      <div class="consulting-subtitle">
        <span>Читайте статьи</span>
      </div>

      <p>Чтобы помочь другим исследователям, я написал почти <a href="articles.html">100 полезных статей</a> . Все
        статьи я пишу сам, поэтому в них только полезная и проверенная информация. <br> Желаю приятного чтения!</p>
    </li>
    <li class="consulting-list__item consulting-list__item--deside">
      <div class="consulting-subtitle">
        <span>Подписывайтесь на соцсети</span>
      </div>
      <p>Большую роль в исследовании родословной играют связи и общение с другими исследователями. Добавляйтесь в
        друзья, подписывайтесь на соцсети. Давайте дружить!</p>
    </li>
  </ul>

  <button type="button" class="our-park__button" data-micromodal-trigger="modal-1">
    <a>Оставить заявку</a>
  </button>
</div>
