<div class="our-park__nav-articles js-nav-article consulting-menu" id="articlesNav">
  <ul>
    <li class="our-park__nav-item our-park__nav-item--static">
      <a href="consulting.html">
        <span class="our-park__nav-span">Консультация</span></a>
    </li>
    <li class="our-park__nav-item our-park__nav-item--static">
      <a href="complex-research.html">
        <span class="our-park__nav-span">Комплексное исследование</span></a>
    </li>
    <li class="our-park__nav-item our-park__nav-item--static">
      <a href="spot-research.html">
        <span class="our-park__nav-span">Точечный просмотр</span></a>
    </li>
    <li class="our-park__nav-item our-park__nav-item--static">
      <a href="search-plan.html">
        <span class="our-park__nav-span">План исследования</span></a>
    </li>
    <li class="our-park__nav-item our-park__nav-item--static">
      <a href="search-escort.html">
        <span class="our-park__nav-span">Сопровождение исследования</span></a>
    </li>
    <li class="our-park__nav-item  our-park__nav-item--static">
      <a href="publication.html">
        <span class="our-park__nav-span">Публикация дела</span></a>
    </li>

    <!-- выпадающее меню -->
    <li class="our-park__nav-item our-park__nav-item--dropdown">
      <a href="#" class="our-park__link our-park__link--dropdown">
        <span>Все услуги</span>
        <svg class="icon-dropdown" width="9" height="6">
          <use xlink:href="#icon-arrow-down"></use>
        </svg>
      </a>

      <ul class="our-park__sub-menu sub-menu-articles sub-menu-articles--consulting">
        <li class="sub-menu-articles__item">
          <a href="consulting.html">Консультация</a>
        </li>
        <li class="sub-menu-articles__item">
          <a href="publication.html">Публикация дела</a>
        </li>
        <li class="sub-menu-articles__item">
          <a href="complex-research.html">Комплексное исследование</a>
        </li>
        <li class="sub-menu-articles__item">
          <a href="spot-research.html">Точечный просмотр</a>
        </li>
        <li class="sub-menu-articles__item">
          <a href="search-plan.html">План исследования</a>
        </li>
        <li class="sub-menu-articles__item">
          <a href="search-escort.html">Сопровождение исследования</a>
        </li>
        <li class="sub-menu-articles__item">
          <a href="services.html">Перевод старых текстов</a>
        </li>
      </ul>
    </li>

  </ul>
</div>
