<ul class="social-link-list {{class}}">
  <li class="social-link-list__item social-link-list__item--facebook">
    <a class="social-link-list__link" href="https://www.facebook.com/aleks.shatoh/" aria-label="facebook" target="blank">
      <svg width="12" height="22" aria-label="facebook">
        <use xlink:href="#icon-facebook"></use>
      </svg>
    </a>
    <span class="visually-hidden">Фейсбук Александр Шатохин</span>
  </li>
  <li class="social-link-list__item social-link-list__item--vk">
    <a class="social-link-list__link" href="https://vk.com/id2433917" aria-label="vk" target="blank">
      <svg width="22" height="14" aria-label="vk">
        <use xlink:href="#icon-vk"></use>
      </svg>
    </a>
    <span class="visually-hidden">Вконтакте Александр Шатохин</span>
  </li>
  <li class="social-link-list__item social-link-list__item--inst">
    <a class="social-link-list__link" href="https://www.instagram.com/dompredkov/?hl=ru" aria-label="instagram" target="blank">
      <svg width="26" height="26" aria-label="instagram">
        <use xlink:href="#icon-instagram"></use>
      </svg>
    </a>
    <span class="visually-hidden">Инстаграм Александр Шатохин Дом предков</span>
  </li>
  <li class="social-link-list__item social-link-list__item--ok">
    <a class="social-link-list__link" href="https://wa.me/79264953117?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5%20%D0%B7%D0%B0%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D1%81%D0%BE%D0%B2%D0%B0%D0%BB%D0%B8%20%D0%B2%D0%B0%D1%88%D0%B8%20%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B8" aria-label="watsapp" target="blank">
      <svg width="26" height="26" aria-label="watsapp">
        <use xlink:href="#icon-ok"></use>
      </svg>
    </a>
    <span class="visually-hidden">Ватсап Александр Шатохин</span>
  </li>
  <li class="social-link-list__item social-link-list__item--youtube">
    <a class="social-link-list__link" href="https://join.skype.com/invite/djopNQ1ob0Te" aria-label="skype" target="blank">
      <svg width="26" height="26" aria-label="skype">
        <use xlink:href="#icon-youtube"></use>
      </svg>
    </a>
    <span class="visually-hidden">Скайп Александр Шатохин</span>
  </li>
</ul>
