@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Gerbera";

  font-display: swap;
  src: url("../fonts/GerberaRegular/Gerbera-Regular.woff2") format("woff2"),
    url("../fonts/GerberaRegular/Gerbera-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: bold;
  font-family: "Gerbera";

  font-display: swap;
  src: url("../fonts/GerberaBold/Gerbera-Bold.woff2") format("woff2"),
    url("../fonts/GerberaBold/Gerbera-Bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Pobeda-Regular";

  font-display: swap;
  src: url("../fonts/PobedaRegular/Pobeda-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: bold;
  font-family: "Pobeda-Bold";

  font-display: swap;
  src: url("../fonts/PobedaBold/Pobeda-Bold.woff") format("woff");
}
