
// Цвет шапки на mobile-макетах

.theme-summer .header {
  &__top {
    @media screen and (max-width: $viewport--md) {
      background: linear-gradient(92.39deg, #693131 0%, #d38c77 100%);
    }
  }
}

// Цвет подложки меню

.theme-summer .main-nav {
  background: #603813;
background: -webkit-linear-gradient(to right, #b29f94, #603813);
background: linear-gradient(to left, #b29f94, #603813);
}

// Цвет подложки mobile-меню

.theme-summer .main-nav {
  @media screen and (max-width: $viewport--md) {
    background: #8d6052 ;
  }
}

// Цвет ссылок
.theme-summer .link {
  background-color: #F05A5A;
}

// Фоновый цвет блока «Наш instagram»

.theme-summer .social-slide {
  background-color: #994f4f;
}
