@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

// Desktop first

@mixin viewport--lg {
  @media (max-width: $viewport--xl - 1) {
    @content;
  }
}

@mixin viewport--md {
  @media (max-width: $viewport--lg - 1) {
    @content;
  }
}

@mixin viewport--sm {
  @media (max-width: $viewport--md - 1) {
    @content;
  }
}

@mixin before-circle {
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  width: 60px;
  height: 60px;
  background-color: #ddd3c6;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35px 35px;
 transform: translateX(-50%);
}

