.footer {
  position: relative;
  z-index: 300;
  background-color: #ece4d9;
}

.footer__wrapper {
  max-width: 1241px;
  margin: 0 auto;
  padding-top: 37px;
  padding-bottom: 50px;
}

@media screen and (max-width: 1370px) {
  .footer__wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 810px) {
  .footer__wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 770px) {
  .footer__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 485px) {
  .footer__wrapper {
    padding-top: 25px;
  }
}
