.info {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1133px) {
  .info {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .info {
    flex-direction: column;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 485px) {
  .info {
    margin-bottom: 34px;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  .info {
    flex-direction: row;
    align-items: flex-start;
  }
}

@media screen and (max-width: 1133px) {
  .info__logo {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .info__logo {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 485px) {
  .info__logo {
    padding-bottom: 0;

    order: 1;
  }
}

.info__logo-link {
  line-height: 0;

  transition: opacity 0.3s;
}

.info__logo-link:hover,
.info__logo-link:active {
  opacity: 0.7;
}

@media screen and (max-width: 485px) {
  .info__logo-link svg {
    width: 180px;
    height: 44px;
  }
}

@media screen and (max-width: 320px) {
  .info__logo-link svg {
    width: 185px;
    height: 48px;
  }
}

.info__logo-mdc {
  margin-left: 64px;
  margin-right: 56px;
  min-width: 320px;
}

@media screen and (max-width: 1133px) {
  .info__logo-mdc {
    margin-left: 0;
    margin-right: 0;
    order: 3;
  }
}

@media screen and (max-width: 767px) {
  .info__logo-mdc {
    order: 3;
  }
}

@media screen and (max-width: 485px) {
  .info__logo-mdc {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 1133px) {
  .info__contacts {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .info__contacts {
    margin-right: 0;
  }
}

@media screen and (max-width: 485px) {
  .info__contacts {
    order: 2;
  }
}
